@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file or within a <style> tag in your component */
.form-checkbox {
    /* Customize appearance of checkboxes if necessary */
}

.form-checkbox:checked {
    background-color: #4B5563; /* Gray-600 for the background color when checked */
    border-color: #4B5563; /* Same gray color for border */
}

.form-checkbox:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5); /* Custom focus ring */
}
